@mixin tablet {
    @media(min-width: 768px){ 
        @content
    }
}
@mixin tablet-lg {
    @media(min-width: 930px){
        @content
    }
}
@mixin desktop {
    @media(min-width: 1200px){
        @content
    }
    
}

.container-blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    @include tablet{
            display: grid;
            grid-template-columns: repeat(2,45%);
      }
    @include tablet-lg{
            grid-template-columns: repeat(3,30%);
    } 
    @include desktop{
            grid-template-columns: repeat(4,24%);
    }
}