form{
    width: 450px;
    margin: auto;
    box-sizing: border-box;
    margin-top: 2opx;
  }
  
  form div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }